<Project>
  <!--
    This profile is used to control the following:
    * How to build the project (Configuration property, etc.)
    * Where to output the compiled files (OutputPath property, etc.)
    * Whether pubxml files should be used

    All the properties are documented at https://go.microsoft.com/fwlink/?linkid=875889
  -->
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\publish\single-file\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeSatelliteResourcesInSingleFile>true</IncludeSatelliteResourcesInSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
  </PropertyGroup>
</Project>
